@model EmployeeSearchModel


<div class="card-body p-4">
    

    <form id="searchForm" method="post" class="row">
            <div class="col-md-3">
                <input id="name" asp-for="Name" placeholder="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <input id="dob" asp-for="DateOfBirth" placeholder="Date of Birth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <input id="email" asp-for="Email" placeholder="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>


            <div class="col-md-2">
                <input id="mobile" asp-for="MobileNumber" placeholder="Mobile" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>

            <div class="col-md-2 mt-1">
                <button id="searchButton" type="submit" class="btn btn-primary form-control">Search</button>
            </div>
             


    </form>


</div>





<div class="container">
   
    <table id="myTable1" class="table table-striped ">
        <thead>
            <tr>


                <th>Photo</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Date of Birth</th>
                <th>Action</th>

            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>


</div>




@section Scripts{
    <script>
        $(document).ready(function () {
            // Initialize the datatable

             
            var table = $('#myTable1').DataTable({
                serverSide: true,
                processing: true,
                ordering: true, // Enable column ordering
                searching: true, // Enable global search functionality
                
                ajax: {
                    url: "@Url.Action("GetAll", "Employee")",
                    type: "POST",
                    data: function (d) {
                        return $.extend({}, d, {
                            Name: $('#name').val(),
                            DateOfBirth: $('#dob').val(),
                            MobileNumber: $('#mobile').val(),
                            Email: $('#email').val(),
                            length: d.length,
                            start: d.start
                        })
                    }
                },
                "columns": [
                    {
                        "data": "imageUrl", "render": function (data) {
                            return '<img src="' + data + '" alt="Photo" height="50"/>';
                        }
                    },
                    
                    { "data": "fullName" },
                    { "data": "email" },
                    { "data": "mobileNumber" },
                    {
                        "data": "dateOfBirth", "render": function (data) {
                            return new Date(data).toLocaleDateString();
                        }
                    },
                    {
                        "data": 'id',
                        render: function (data) {
                            return `<a href="/Employee/Edit/${data}" class="btn btn-primary">Edit</a>
                                <a href="/Employee/Delete/${data}" class="btn btn-danger">Delete</a>`;
                        }
                       
                    }
                ],
                "orderable": true
                
            });

            // Function to reload table data
            function reloadTableData(){
                var pageLength = table.page.len();
                var pageStart = table.page.info().start;
                var searchData1= {
                  
                        Name: $('#name').val(),
                        DateOfBirth: $('#dob').val(),
                        MobileNumber: $('#mobile').val(),
                        Email: $('#email').val(),
                        length: pageLength,
                        start: pageStart
                    
                };
                console.log("searchData1: ", searchData1);

                $.ajax({
                    url: '@Url.Action("GetAll", "Employee")',
                    type: 'POST',
                    // contentType: 'application/json',
                    data: searchData1,
                    success: function (data) {
                        console.log("return data: ", data);
                        table.clear();
                        table.rows.add(data);
                        table.draw();
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching data: " + error);
                    }
                });
                
            }

            $('#searchButton').click(function (e) {
                
                e.preventDefault();// Prevent default form submission
                reloadTableData();  // Call reload function to refresh data
            });

 
        });
    </script>

}